
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.top_bar {
  background-color: #949494;
  height: 15%;
  position: relative;
}

.company_name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-left: 100px;
  margin-top: -55px;
}

.logo {
  width: 50px; 
  height: 50px;
  margin-left: 38px;
  margin-top: 47px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 1300px;
  margin-top: -55px;
  height: 10px;
  position: absolute;
}

.search-button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40px; 
  height: 40px;
  margin-left: 740px;
  margin-top: -67px;
  position: absolute;
}

.left_bar {
  width: 20%;
  height: 85%;
}

.manage-pic{
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30px; 
  height: 30px;
  margin-left: -50px;
  margin-top: -3px;
  position: absolute;
}

.op_manage{
  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 80px;
}

.cus-pic{
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30px; 
  height: 30px;
  margin-left: -50px;
  margin-top: 0px;
  position: absolute;
}

.cus_manage{
  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 80px;
}

input[type="button"] {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  color: dimgray;
  cursor: pointer;
  text-align: left;
  margin-left: -40px;
  margin-top: 9px;
  background-color: white;
  transition: transform 0.3s ease;
}

input[type="button"]:hover {  /* 鼠標懸停時的變化 */
  background-color: #f0f0f0; 
  transform: scale(1.1);
}

.vertical-line {
  border-left: 2px solid #000;
  height: 1300px; 
  margin-left: 310px;
  margin-top: -660px;
    }

.title1-1{
  font-weight: bold;
  font-size: 50px;
  color: dimgray;
  margin-left: 370px;
  margin-top: -830px;
}

.ODM{
  font-size: 20px;
  background-color: lightgreen;
  width: 58px;
  margin-left: 600px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OEM{
  font-size: 20px;
  background-color: lightblue;
  width: 58px;
  margin-left: 600px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container-inside {
  display: flex;
  justify-content: center;
  position: relative; /* 讓 .red-button 可以相對於這個容器定位 */
  margin: 20px;
}

.search-box-inside::placeholder {
  font-size: 19px;
  color: gray;
}

.search-box-inside {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 150px;
  margin-top: 10px;
  height: 30px;
  width: 900px;
  font-size: 20px;
}

.search-button-inside {
  padding: 6px;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40px; 
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

.red-button {
  position: absolute;
  border-radius: 10px; /* 設定圓角半徑，根據需要調整 */
  border: none;
  font-size: 17px;
  background-color: orangered;
  color: white;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  right: 800px;
  margin-top: -50px;
}

.item_container{
  display: flex;
  margin-left: 280px;
  margin-top: 20px;
}

.item_column {
  display: flex;
  flex-direction: column;
 }

.item_box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  margin-left: 90px;
  width: 500px;
  height: 200px; 
  background-color: lightgray;
}
.item_pic{
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 150px; 
  height: 150px;
  margin-left: 14px;
  margin-top: 13px;
  position: absolute;

}

.item_topic{
  border-color: black;
  margin-left: 250px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;
}

.item_num{
margin-left: 250px;
margin-top: 20px;
font-size: 20px;
}

.item_num_content{
margin-left: 350px;
margin-top: -25px;
font-size: 22px;
}

.item_inv{
margin-left: 250px;
margin-top: 5px;
font-size: 20px;
}

.item_inv_content{
margin-left: 329px;
margin-top: -24px;
font-size: 22px;
}

.item_topic_warn{
  margin-left: 250px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;
  color: red;
}

.item_num_warn{
margin-left: 250px;
margin-top: 20px;
font-size: 20px;
color: red;
}

.item_num_content_warn{
margin-left: 350px;
margin-top: -25px;
font-size: 22px;
color: red;
}

.item_inv_warn{
margin-left: 250px;
margin-top: 5px;
font-size: 20px;
color: red;
}

.item_inv_content_warn{
margin-left: 329px;
position: relative;
top: -30px;
font-size: 22px;
color: red;
}

.oem_color{
  background-color: lightblue;
  width: 20px;
  height: 244px;
  margin-top: -175px;
  margin-left: 450px;
}

.odm_color{
  background-color: lightgreen;
  width: 20px;
  height: 244px;
  margin-top: -175px;
  margin-left: 450px;
}

.oem_color_warn{
  background-color: lightblue;
  width: 20px;
  height: 244px;
  margin-top: -204px;
  margin-left: 450px;
}

.odm_color_warn{
  background-color: lightgreen;
  width: 20px;
  height: 244px;
  margin-top: -204px;
  margin-left: 450px;
}

.low-inventory{
  background-color: #dc8686;
}