/* 基本樣式 */
body {
  width: 100%;
  height: 100%;
}

.fixed {
  /*margin-left: -10px;*/
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.top_bar {
  height: 10%;
  display: flex;
  background-color: #949494;
  pointer-events: auto;
}

.company_name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  align-self: center;
  margin-left: 0px;
}

.logo {
  align-self: center;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
}

.search-box {
  margin-right: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-self: center;
  height: 25px;
}

.search-button {

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  align-self: center;
}

.left_bar {
  position: fixed;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #4f4745;
  height: 100%;

}

.right_bar {
  position: absolute;
  margin-left: 20%;
  margin-top: 8%;
  width: 80%;
  height: 100%;
}

.manage-pic {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  height: 30px;

}

.op_manage {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;

}

.cus-pic {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.cus_manage {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 50px;

}

input[type="button"] {
  width: 150px;
  height: 30px;
  border: none;
  font-size: 15px;
  color: dimgray;
  cursor: pointer;
  text-align: left;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: white;
  transition: transform 0.3s ease;
}

input[type="button"]:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.vertical-line {
  position: absolute;
  border-left: 2px solid #000;
  margin-left: 10%;

}

.title1-1 {
  font-weight: bold;
  font-size: 40px;
  color: dimgray;
}


/* 媒體查詢 - 中型螢幕 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .top_bar {
    height: 12%;
  }

  .company_name {
    font-size: 35px;

  }



  .search-box {
    margin-left: 50px;
    margin-top: 20px;
  }

  .search-button {
    margin-left: 50px;
    margin-top: 20px;
  }

  .left_bar {
    width: 30%;
  }

  .manage-pic,
  .cus-pic {
    margin-left: 45px;
    margin-top: -3px;
  }

  .op_manage,
  .cus_manage {
    margin-left: 90px;
    margin-top: 80px;
  }

  input[type="button"] {
    margin-left: -40px;
    margin-top: 9px;
  }

  .vertical-line {
    margin-left: 310px;
    margin-top: -660px;
  }

  .title1-1 {
    margin-left: 10%;
    margin-top: 10%;
  }



}

/* 媒體查詢 - 小型螢幕 */
@media only screen and (max-width: 600px) {
  .top_bar {
    height: 10%;
  }

  .company_name {
    font-size: 30px;
    margin-left: 20px;
    margin-top: -35px;
  }

  .logo {
    margin-left: 10px;
    margin-top: 20px;
  }

  .search-box {
    margin-left: 10px;
    margin-top: 10px;
  }

  .search-button {
    margin-left: 10px;
    margin-top: 10px;
  }

  .left_bar {
    width: 100%;
  }

  .manage-pic,
  .cus-pic {
    margin-left: 10px;
    margin-top: 10px;
  }

  .op_manage,
  .cus_manage {
    margin-left: 20px;
    margin-top: 10px;
  }

  input[type="button"] {
    margin-left: 10px;
    margin-top: 10px;
  }

  .vertical-line {
    margin-left: 10px;
    margin-top: -660px;
  }

  .title1-1 {
    margin-left: 20px;
    margin-top: -830px;
  }
}


.search-container-inside {
  display: flex;
  justify-content: center;
  position: relative; /* 讓 .red-button 可以相對於這個容器定位 */
  margin: 20px;
}

.search-box-inside::placeholder {
  font-size: 19px;
  color: gray;
}

.red-button {
  position: relative;
  border-radius: 10px; /* 設定圓角半徑，根據需要調整 */
  border: none;
  font-size: 17px;
  background-color: orangered;
  color: white;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  margin-left: -400px;
  margin-top: -65px;
}

.item_container{
  display: flex;
  flex-wrap: wrap;
  margin-left: -80px;
  margin-top: 20px;
}

.item_column {
  display: flex;
  flex-direction: column;
 }

.item_box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  margin-left: 90px;
  width: 500px;
  height: 100px; 
  background-color: #dc8686;
}
.item_pic{
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 150px; 
  height: 150px;
  margin-left: 14px;
  margin-top: 13px;
  position: absolute;

}

.item_topic{
  border-color: black;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  top: 25px;
}

.item_num{
margin-left: 250px;
margin-top: -24px;
font-size: 20px;
}

.item_num_content{
margin-left: 400px;
margin-top: -24px;
font-size: 22px;
}

.item_inv{
margin-left: 250px;
margin-top: 16px;
font-size: 20px;
}

.item_inv_content{
margin-left: 400px;
margin-top: -26px;
font-size: 22px;
}

.item_topic_warn{
  font-weight: bold;
  font-size: 35px;
  color: red;
  position: relative;
  top: 30px;
}

.item_num_warn{
margin-left: 110px;
margin-top: -24px;
font-size: 20px;
color: red;
}

.item_num_content_warn{
margin-left: 215px;
margin-top: -24px;
font-size: 22px;
color: red;
}

.item_inv_warn{
margin-left: 110px;
margin-top: 16px;
font-size: 20px;
color: red;
}

.item_inv_content_warn{
margin-left: 190px;
position: relative;
top: -30px;
font-size: 22px;
color: red;
}

.oem_color{
  background-color: darkred;
  width: 20px;
  height: 142px;
  position: relative;
  top: -113px;
  margin-left: 267px;
}

.oem_color_warn{
  background-color: darkred;
  width: 20px;
  height: 142px;
  position: relative;
  top: -111px;
  margin-left: 267px;
}

.low-inventory{
  background-color: #dc8686;
}
